//- Directory Variables
//-   N.B. Pug does not support dynamic includes at this point in time,
//-   as JavaScript is compiled /after/ performing inclusion.
include directory-variables

//- Header imports
//- Lato Font
//-link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")

//- Roboto Font
link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i", rel="stylesheet")
link(href=`${styleDir}/default.css`, type="text/css", rel="stylesheet")

//- https://github.com/pugjs/pug-cli