//- HTML Directory variables (should be used with !{})
//- (ROOT/...)
- var imgDir = "imgs" //- Image directory
- var styleDir = "styles/css" //- Stylesheets directory
- var tsDir = "ts"; //- TypeScript code directory

//- Pug Templating Directory variables
//- (ROOT/templates/...)
- var badgeDir = "badges"

//- http://stackoverflow.com/questions/38426285/pug-formerly-jade-variables-not-working-interpolating-correctly-inside-ancho