// SASS FILE
/* No comment above = not the .scss source!!! */

$mainFont: Roboto; // Previously Lato

// Sizing issues:
// https://webdesign.tutsplus.com/tutorials/comprehensive-guide-when-to-use-em-vs-rem--cms-23984
// https://www.w3schools.com/cssref/css_units.asp

// Margins
// http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
// https://www.w3schools.com/css/css_boxmodel.asp
// http://stackoverflow.com/questions/16201948/how-to-exclude-particular-class-name-in-css-selector
html, head, body, #sideHeader {
  margin: 0 auto;
  //padding: 0 auto;
  //border: 0 auto;
  //outline: 0 auto;
  h1, h2, h3 {
    //margin: 0em;
    //padding: 0em;
  }
}

html {
  width: 100%;
  height: 100%;
  //https://codemyviews.com/blog/inner-shadows-in-css-images-text-and-beyond
  box-shadow: inset 0px 0px 200px 0px #000000;
}

body {
  /* Background should be a dark bluish carbon colour */
  padding-top: 0px;
  background: #152740; // #152740 "Liberated" from typescriptlang.org
  color: white;
  /* https://fonts.google.com/specimen/Lato */
  font-family: $mainFont, sans-serif;
}

div {
  margin: 0 auto;
  padding-top: 0.05em;
}

article {
  /* Background should at this point be lighter than the main body background */
  background: #223366; /* Originally #123366 */
  color: white;
  font-family: $mainFont, sans-serif;
}

#siteHeader {
  /* Background should at this point be lighter than the article background */
  background: #FFA700; // #FFA700 "Liberated" from typescriptlang.org 
  color: black;
  font-family: $mainFont, sans-serif;
  height: 10em;
}


// Read later

//https://css-tricks.com/convert-menu-to-dropdown/
//https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
//http://stackoverflow.com/questions/33229026/bootstrap-dropdown-menu-right-when-screen-too-small